@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animacje */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fadeIn 0.2s ease-out forwards;
}

/* Globalne style */
body {
  @apply antialiased;
}

/* Dodatkowe klasy pomocnicze */
.bg-black-translucent {
  background-color: rgba(0, 0, 0, 0.6);
}
